body{
	background-color: #ffa64d;
}

.orangeJumbo{
    background-color: #ffa64d;
}

.green1{
	color:green;
	border-style: solid;
	border-color: #ff6600;
	background-color: #daffb3;
    width: 405px;
    height:45px;
}

.green2{
    color:green;
	border-style: solid;
	border-color: #ff6600;
	background-color: #daffb3;
    width: 345px;
    height:35px;
}